<template>
  <div class='movies-wrapper'>
    <router-link :to="`/mediatype/${movie.mediaType}/id/${movie.id}`"
                  class='movie-wrapper'
                  v-for='movie in allMovies'
                  :key='movie.id'>
      <img v-if="movie.image"
           width= "100%"
          :src='`https://image.tmdb.org/t/p/w500/${movie.image}`'/>
      <img v-else
           width= "100%"
           src="@/assets/svg/noImage.svg"
           alt="Sorry, we can't find the poster for this movie"/>
      <h4>{{movie.title}}</h4>
      {{movie.year}}
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'MovieList',
  props: {
    allMovies: Array,
  },
};
</script>

<style scoped lang="less">
  .movies-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0px;
    width: 100%;
    @media (min-width: @xs){
      margin: -5px -5px;
    }
  }
  .movie-wrapper{
    text-decoration: none;
    color: @brand-black;
    margin: 5px 15px;
    flex-basis: calc(~'(100% /2 ) -  30px');
    @media (min-width: @xs){
      margin: 5px 12px;
      flex-basis: calc(~'(100% /4 ) -  30px');
    };
    @media (min-width: @sm){
      margin: 5px 15px;
    }
  }
</style>
