<template>
  <div class="words-handle-panel standard-wrapper">
    <div class="info-block">
      <h4 class="repeats-block"> {{$t("repeats", {repeats})}} </h4>
      <div class="translation-block">
        <span class="translation-header">
          <h4>
            <img src="@/assets/svg/translation.svg"/>
            {{$t("translation")}}
          </h4>
        </span>
        {{$t("translation_placeholder")}}
      </div>
    </div>
    <button v-b-modal.my-plans class="add-to-vocabulary brand-btn-primary">
      {{$t("add_to_vocabulary", {wordsNumber: newVocabularyLength})}}
    </button>
  </div>
</template>
<script>
export default {
  name: 'WordsHandlePanel',
  props: {
    newVocabularyLength: Number,
    repeats: Number,
  },
};
</script>

<style scoped lang="less">
.words-handle-panel{
  padding: 0 0.5rem;
  height: 100%;
  position: relative;

  @media(min-width: @xs){
    padding: 0 0.5rem;
  }
  .info-block {
    @media(min-width: @xs){
      background-color: @brand-gray;
      padding: 0.5rem;
      height: 300px;
    }
    .repeats-block{
      display: none;
      @media(min-width: @xs){
        display: block;
      }
    }
    .translation-block{
      max-height: 200px;
      overflow: hidden;
      padding: 10px 0;
    }

    .translation-header img{
      display: none;
    }
  }
  .add-to-vocabulary{
    margin-top: 30px;
    width: 100%;
  }
}
</style>
