<template>
  <div class="word-block"
       @mouseover="$emit('selectWord', word[1])"
       @mouseleave="$emit('selectWord', 0)">
    <div class="icon remove-word">
      <b-icon icon="trash"
              @click="$emit('deleteWord', diapason, index, word[0])">
      </b-icon>
    </div>
    <span class="word" :class="selectedClass">
      {{word[0]}}
    </span>
    <div class="icon add-word">
      <b-icon v-if="added"
              icon="file-earmark-check"
              @click="removeFromVocabulary">
      </b-icon>
      <b-icon v-else icon="file-earmark-plus"
              @click="addToVocabulary">
      </b-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Word',
  props: {
    selectedClass: String,
    word: Array,
    diapason: String,
    index: Number,
  },
  data() {
    return {
      added: false,
    };
  },
  methods: {
    addToVocabulary() {
      this.added = true;
      this.$emit('addToVocabulary', this.word[0]);
    },
    removeFromVocabulary() {
      this.added = false;
      this.$emit('removeFromVocabulary', this.word[0]);
    },
  },
};
</script>

<style scoped lang="less">
  .word-block{
    display: inline-block;
    margin: 5px 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    @media(min-width: @xs){
      width:auto;
      margin: 5px;
      height: 35px;
      line-height: 35px;
      text-align: left;
      position: relative;
      border: 1px solid @brand-black;
    }
    .word{
      padding: 0 40px;
      height: 100%;
      width: 60%;
      display: inline-block;
      border: 1px solid @brand-black;
      @media(min-width: @xs){
        padding: 0 40px 0 5px;
        border: none;
      }
    }
    .icon{
      display: inline-block;
      width: 20%;
      font-size: 1.5rem;
    }
    .remove-word{
      @media(min-width: @xs){
        text-align: center;
        font-size: 1.25rem;
        line-height: 35px;
        position: absolute;
        width: 35px;
        right: 0;
        border-left: 1px solid @brand-black;
      }
    }
    .add-word{
      @media(min-width: @xs){
        display: none;
      }
    }
  }
</style>
