<template>
  <div class="how-it-works-wrapper">
    <h1 class="how-it-works-header">{{$t('how_it_works')}}</h1>
    <div class="how-it-works-content standard-wrapper">
      <div class="item">
        <img src="@/assets/home/selectMovie.png" alt="Select movie" >
        <h4>{{$t("how_it_works_step_one")}}</h4>
      </div>
      <div class="item">
        <img src="@/assets/home/magic.jpg" alt="Magic" >
        <h4>{{$t("how_it_works_step_two")}}</h4>
      </div>
      <div class="item">
        <img src="@/assets/home/learn.png" alt="Magic" >
        <h4>{{$t("how_it_works_step_three")}}</h4>
      </div>
      <div class="item">
        <img src="@/assets/home/intro.jpg" alt="Magic" >
        <h4>{{$t("how_it_works_step_four")}}</h4>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HowItWorks',
};
</script>

<style scoped lang="less">
.how-it-works{
  &-wrapper{
    display: none;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    text-align: center;
    height: 400px;
    background-color: @brand-gray;
    margin-top: 30px;
    @media (min-width: @xs){
      margin-top: 80px;
      display: block;
    }
  }
  &-header {
    text-align: center;
    padding: 20px 0;
  }
  &-content{
    display:flex;
    justify-content: center;
    margin: auto;
    .item{
      margin: 0 14px;
      @media (min-width: @md){
        margin: 0 20px;
      }

      @media (min-width: @lg){
        margin: 0 50px;
      }

      img{
        width: 150px;
        height: 150px;
        border-radius: 150px;

        @media (min-width: @md){
          width: 186px;
          height: 186px;
          border-radius: 186px;
        }
      }
      h5{
        display: block;
        width: 150px;
        text-align: center;

        @media (min-width: @md){
          display: block;
          width: 186px;
          text-align: center;
        }
      }
    }
  }
}
</style>
