<template>
  <div class="most-popular-wrapper">
    <h1 class="h1">{{$t("most_popular")}}</h1>
    <movie-list :allMovies="allMovies" class="most-popular-list"/>
  </div>
</template>

<script>
import MovieList from '@/components/landingPage/MovieList';

export default {
  name: 'MostPopular',
  components: {
    MovieList,
  },
  data() {
    return {
      allMovies: [
        {
          title: "Harry Potter and the Philosopher's Stone", image: '/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg', mediaType: 'movie', year: '2001', id: 671,
        },
        {
          title: 'The Lord of the Rings: The Fellowship of the Ring', image: '/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg', mediaType: 'movie', year: '2001', id: 120,
        },
        {
          title: 'Forrest Gump', image: '/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg', mediaType: 'movie', year: '1994', id: 13,
        },
        {
          title: 'Friends', image: '/f496cm9enuEsZkSPzCwnTESEK5s.jpg', mediaType: 'tv', year: '1994', id: 1668,
        },
      ],
    };
  },
};
</script>

<style scoped lang="less">
  .most-popular {
    &-wrapper{
      margin: 60px 0 0;
      .h1{
        margin: 0 0 30px 0;
        text-align: center;
      }
    }
    &-list{
      margin-top: 20px;
    }
  }
</style>
