<template>
  <div class="search">
    <form class="search-block" @submit="movieSearch">
      <div class="search-input-block"
           :class="{ 'form-group--error': $v.query.$error }">
        <input class="search-input"
               v-model="query"
               @blur="$v.query.$touch()"
               :placeholder="$t('search_placeholder')">
        <span class="search-error">{{$t("validation_required")}}</span>
      </div>
      <button class="search-button brand-btn-primary">{{$t("search")}}</button>
    </form>
    <span v-if="isError">{{$t("validation_cant_find")}}</span>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'MoviesSearch',
  data() {
    return {
      searchLoading: false,
      query: '',
      movies: [],
      isError: false,
    };
  },
  computed: mapGetters(['allMovies']),
  methods: {
    ...mapActions(['fetchMovies']),
    async movieSearch(e) {
      try {
        e.preventDefault();
        this.isError = false;
        if (this.$v.$invalid) {
          return false;
        }
        this.searchLoading = true;
        await this.fetchMovies(this.query);
        this.searchLoading = false;
        this.$router.push('/landing');
      } catch (err) {
        this.searchLoading = false;
        this.isError = true;
      }
    },
  },
  validations: {
    query: {
      required,

    },
  },
};
</script>

<style scoped lang="less">
.search{
  &-block{
    display: flex;
    flex-direction: column;
    @media (min-width: @xs){
      flex-direction: row;
    }
  }
  &-input-block{
    margin-bottom: 10px;
    height: 68px;
    @media (min-width: @xs){
      flex-basis: 80%;
      padding-bottom: 0;
      height: 73px;
    }
  }
  &-error{
    display: none;
  }
  &-input{
    border: 1px solid @brand-black;
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 0 3%;
    height: 100%;
    width: 100%;//calc(~'97% - 2px');
  }
  &-button{
    @media (min-width: @xs){
      flex-basis: 20%;
      margin-left: 5px;
    }
  }
}
</style>
