<template>
  <div class="analizer-settings-wrapper">
    <form class='movie-settings' @submit="countWords">
      <current-level v-model="level"/>
      <season-episode-block :active="movie.mediaType === 'tv'"
                            :seasons = "this.movie.seasons"
                            :season.sync="season"
                            v-model="episode"/>
      <button class="count-btn brand-btn-primary">{{$t("count")}}</button>
      <div v-if="error" class="error">
        {{ error }}
      </div>
    </form>
    <div class="loading-wrapper">
      <loading-visualizaion  size="massive" :active= "loading"/>
    </div>
  </div>
</template>

<script>
import TextAnalyzer from '@/services/TextAnalyzer';
import LoadingVisualizaion from '@/components/layout/LoadingVisualizaion';
import SeasonEpisodeBlock from './AnalyzerSettings/SeasonEpisodeBlock';
import CurrentLevel from './AnalyzerSettings/CurrentLevel';

export default {
  name: 'AnalyzerSettings',
  props: {
    movie: Object,
  },
  components: {
    LoadingVisualizaion,
    SeasonEpisodeBlock,
    CurrentLevel,
  },
  data() {
    return {
      level: 'a1',
      season: null,
      episode: null,
      loading: false,
      error: null,
    };
  },
  methods: {
    async countWords(e) {
      try {
        e.preventDefault();
        this.loading = true;
        this.error = null;
        const params = {
          level: this.level,
          imdbid: this.movie.id,
          season: this.season,
          episode: this.episode,
        };
        if (this.episode === 'all') {
          params.isAllEpisodes = true;
          params.episode = this.movie.seasons[this.season].episode_count;
        }
        const words = await TextAnalyzer.getCounterResult(params);
        this.loading = false;
        this.$emit('update:words', words);
        this.$gtag.event('count', {
          event_category: 'count',
          event_label: this.movie.title,
        });
      } catch (err) {
        this.$gtag.event('count-err', {
          event_category: 'count',
          event_label: this.movie.title,
        });
        this.loading = false;
        this.error = err;
      }
    },
  },
};
</script>

<style scoped lang="less">
.loading-wrapper{
  position: absolute;
  width: 100%;
  top: 0;
}
.analizer-settings-wrapper{
  @media(min-width:@xs){
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
.count-btn {
  width: 100%;
  margin: 0;
  @media(min-width: @xs){
    width: calc(33% - 1rem);
    float: right;
    height: 47px;
    margin: 4px 4px 0 0;
  }
}
</style>
