<template>
  <div class="main-block-background">
    <div class="main-block standard-wrapper">
      <img v-if="image" :src='image' class='movie-image'/>
      <img v-else class='movie-image'
                  src="@/assets/svg/noImage.svg"
                  alt="Sorry, we can't find the poster for this movie"/>
      <div class='movie-details'>
        <div class="movie-header-mobile">
          <h3>{{movie.title}}</h3>
          <span class='year'>{{movie.year}}</span>
        </div>
        <v-clamp autoresize :max-lines="4">{{movie.overview}}</v-clamp>
        <div style="clear:both;"></div>
        <analyzer-settings :movie="movie" @update:words="$emit('update:words', $event)"/>
      </div>
    </div>
  </div>
</template>

<script>
import AnalyzerSettings from '@/components/moviePage/AnalyzerSettings';
import VClamp from 'vue-clamp';

export default {
  name: 'MainBlock',
  components: {
    AnalyzerSettings,
    VClamp,
  },
  props: {
    movie: Object,
  },
  computed: {
    image() {
      if (this.movie && ('image' in this.movie) && !!this.movie.image) {
        return `https://image.tmdb.org/t/p/w500${this.movie.image}`;
      }
      return null;
    },
  },
};
</script>

<style lang="less">
  .main-block{
    @media (min-width: @xs){
      position: relative;
      padding: 10px 0;
    }
    .movie{
      &-image{
        max-width: 90px;
        margin-right:7px;
        vertical-align: inherit;
        float: left;
        @media (min-width: @xs){
          max-width:165px;
          margin-right:32px;
          float: none;
        }
      }
      &-details{
        display: block;
        width: auto;
        @media(min-width: @xs){
          display:inline-block;
          width: calc(100% - 197px);
          position: absolute;
          height: 100%;
        }
      }
      &-header-mobile{
        display: block;

        @media (min-width: @xs){
          display: none;
        }
      }
    }
  }
  .main-block-background{
    @media (min-width: @xs){
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      left: 50%;
      background-color: @brand-gray;
    }
  }
</style>
