 <template>
  <div>
    <div class="desktop-words-wrapper">
      <template v-for="diapason in sortedDiapasons">
        <div class="words-block"
             :key="diapason"
             v-if="words[ diapason ] && words[ diapason ].length">
             <h5 class="words-block-header"
                 v-if="diapason !== '1'">
               {{ $t("few_repeats", { diapason }) }}
             </h5>
             <h5 class="words-block-header"
                 v-else>
               {{ $t("one_repeat", { diapason }) }}
             </h5>
          <word v-for="(word, index) in words[ diapason ]"
                @deleteWord="deleteWord"
                @selectWord="selectWord"
                @addToVocabulary="addToVocabulary"
                @removeFromVocabulary="removeFromVocabulary"
                :word="word"
                :diapason="diapason"
                :index="index"
                :key="index"/>
        </div>
      </template>
    </div>
    <template v-for="(diapason, index) in sortedDiapasons">
      <div class="mobile-words-block" :key="`mobile-${diapason}`">
        <div v-if="words[ diapason ] && words[ diapason ].length"
             header-tag="header"
             role="tab">
          <h5 class="mobile-words-block-header"
              v-b-toggle="`accordion-${index}`"
              v-if="diapason !== '1'">
            {{ $t("few_repeats", { diapason }) }}
          </h5>
          <h5 class="mobile-words-block-header"
              v-b-toggle="`accordion-${index}`"
              v-else>
            {{ $t("one_repeat", { diapason }) }}
          </h5>
        </div>
        <b-collapse v-if="words[ diapason ] && words[ diapason ].length"
                    :id="`accordion-${index}`"
                    role="tabpanel"
                    accordion="my-accordion">
          <b-card-body>
            <word v-for="(word, index) in words[ diapason ]"
                  @deleteWord="deleteWord"
                  @selectWord="selectWord"
                  @addToVocabulary="addToVocabulary"
                  @removeFromVocabulary="removeFromVocabulary"
                  :word="word"
                  :diapason="diapason"
                  :index="index"
                  :key="index"/>
          </b-card-body>
        </b-collapse>
      </div>
    </template>
    <div class="words-handle-wrapper">
      <words-handle-panel v-if="Object.keys(words).length !== 0"
                          :repeats="repeats"
                          :newVocabularyLength="newVocabulary.length"/>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import Word from './Words/Word';
import WordsHandlePanel from './Words/WordsHandlePanel';

export default {
  name: 'Words',
  components: {
    Word,
    WordsHandlePanel,
  },
  props: {
    words: Object,
  },
  data() {
    return {
      newVocabulary: [],
      repeats: 0
    };
  },
  computed: {
    sortedDiapasons(){
      return Object.keys( this.words ).sort( ( a , b ) => b - a);
    }
  },
  methods: {
    deleteWord(diapason, index, word) { // eslint-disable-line object-shorthand
      this.words[diapason].splice(index, 1);
      this.removeFromVocabulary(word);
    },
    selectWord(repeats){
      this.repeats= repeats;
    },
    addToVocabulary(word) {
      this.newVocabulary.push(word);
    },
    removeFromVocabulary(word) {
      for (let i = 0; i < this.newVocabulary.length; i += 1) {
        if (word === this.newVocabulary[i]) {
          this.newVocabulary.splice(i, 1);
          break;
        };
      };
    },
  },
};
</script>

<style scoped lang="less">
.desktop-words-wrapper{
  display: inline-block;
  width: 65%;

  .words-block {
    display: none;
    @media(min-width: @xs){
      display: block;
      margin: 30px 0 50px 0;
    }
    &-header{
      margin: 0  0 10px 0 !important;
    }
  }
}

.mobile-words-block{
  display: block;
  @media(min-width: @xs){
    display: none;
  }
  &-header{
    padding: 10px 0;
    text-align: center;
    &:after{
      content: ">";
      display: inline-block;
      transform: rotate(-90deg);
    }
    &.collapsed{
      &:after{
        transform: rotate(90deg);
      }
    }
  }
}
.words-handle-wrapper{
  height: 100%;
  width: 100vw;
  position: sticky;
  bottom: 0;
  margin-left: -0.5rem;
  background-color: @brand-gray;
  @media(min-width: @xs){
    width: 35%;
    margin: 30px 0 0;
    bottom: 30vh;
    display: inline-block;
    background-color: inherit;
  }
}
</style>
