<template>
  <div class="range-block">
    <input type="range" min="1" max="10" step="1" :value="value"
      @input="$emit('input', $event.target.value)">
    <ul class="range-steps">
      <li class="range-step" v-for="(number, index) in rangeSteps" :key="index">
        {{number}}
      </li>
    </ul>
  </div>
</template>
<script>
// import RangeSlider from 'vue-range-slider'
export default {
  name: 'CustomRange',
  components: {
    // RangeSlider
  },
  props: {
    // min: Number,
    // step:  Number,
    // max: Number,
    value: String,
  },
  computed: {
    rangeSteps() {
      const rangeSteps = [];
      for (let i = 1; i <= 10; i += 1) {
        rangeSteps.push(i);
      }
      return rangeSteps;
    },
  },
};
</script>
<style scoped lang="less">
.range{
  &-steps{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &-step{
    width: 20px;
    text-align: center;
  }
}

  @track-color: #000;
  @thumb-color: #9D9D9D;

  @thumb-radius: 20px;
  @thumb-height: 20px;
  @thumb-width: 20px;
  @thumb-shadow-size: 1px;
  @thumb-border-width: 1px;

  @track-width: 100%;
  @track-height: 2px;
  @track-shadow-size: 2px;
  @track-shadow-blur: 2px;
  @track-shadow-color: #222;
  @track-border-width: 1px;
  @track-border-color: black;

  @track-radius: 5px;
  @contrast: 5%;

  .shadow(@shadow-size,@shadow-blur,@shadow-color) {
    box-shadow: @shadow-size
                @shadow-size
                @shadow-blur
                @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
  }

  .track() {
    width: @track-width;
    height: @track-height;
    cursor: pointer;
    animate: 0.2s;
  }

  .thumb() {
    height: @thumb-height;
    width: @thumb-width;
    border-radius: @thumb-radius;
    background: @thumb-color;
    cursor: pointer;
  }

  input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;
    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      .track();
      background: @track-color;
    }

    &::-webkit-slider-thumb {
      .thumb();
      -webkit-appearance: none;
      margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
    }
    &::-moz-range-track {
      .track();
      background: @track-color;
    }
    &::-moz-range-thumb {
       .thumb();
    }
    &::-ms-thumb {
      .thumb();
    }
  }
</style>
