<template>
  <div class='radio-btn-group'>
    <div class="radio" v-for='(item, index) in items' :key='index'>
      <input type='radio'
             name='radio'
             :id='item.code'
             :checked='index==0'
             :value='item.code'
             @input="$emit('input', $event.target.value)">
      <label :for="item.code">{{item.label}}</label>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CustomRadioBlocks',
  props: {
    items: Array,
    value: String,
    colors: String,
  },
};
</script>
<style scoped lang="less">
  .radio-btn-group {
    display: flex;
    .radio {
      margin: 0 4px;
      label {
        background-color: @brand-gray;
        padding: .5rem .25rem;
        margin: 0;
        cursor: pointer;
        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked+label {
        border: 1px solid @brand-primary;
      }
    }
    &.white-theme{ // for LanguageSelector.vue
      color: @brand-white;
      .radio{
        label {
          background-color: transparent;
          padding:.5rem;
        }
        input[type="radio"]:checked+label {
          border: 1px solid @brand-white;
        }
      }
    }
  }
</style>
