.standard-wrapper {
  max-width: 365px;
  margin: 0 auto;
  @media (min-width: @xs){
    max-width: 540px;
  }
  @media (min-width: @sm){
    max-width: 720px;
  }
  @media (min-width: @md){
    max-width: 920px;
  }
  @media (min-width: @lg){
    max-width: 1140px;
  }
}
.brand-btn-primary{
  background-color: @brand-primary;
  color: @brand-white;
  font-size: 22px;
  line-height: 28px;
  height: 60px;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid @brand-primary;
  font-family: @font-family;
  font-weight: @font-weight-base;
  &:hover{
    border-color: @brand-black;
  }
  @media (min-width: @xs){
    height: 73px;
  }
}
