html {
  font-size: 14px;
  font-family: @font-family;
  font-weight: @font-weight-base;
  line-height: @line-height;
  @media (min-width: @md){
    font-size: 16px;
  };
  @media (min-width: @xl){
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6{
  margin: 0 !important;
}

h1,h2,h3,.h1,.h2,.h3{
  font-weight: @font-weight-bolder;
    //margin-top: @margin-general + 5;
    //margin-bottom: @margin-small;
}

h4,h5,h6,.h4,.h5,.h6{
  font-weight: @font-weight-base;
    //margin-top: @margin-small;
    //margin-bottom: @margin-small;
}

h1, .h1 {
  font-size: @font-size-h1;
  line-height: 1.15em;
}
h2, .h2{
  font-size: @font-size-h2;
  line-height: @line-height;
}
h3, .h3{
  font-size: @font-size-h3;
  line-height: 1em;
  margin: 8px;
}
h4, .h4{
  font-size: @font-size-h4;
  line-height: @line-height;
}
h5, .h5 {
  font-size: @font-size-h5;
  line-height: 1em;
    //margin-bottom: @margin-general;
}
h6, .h6{
  font-size: @font-size-h6;
  text-transform: uppercase;
    //font-weight: @font-weight-bolder;
}
.tab{
  font-weight: @font-weight-bolder;
}
p{
  margin:0;
}
/*
h2.title{
    margin-bottom: @margin-general * 2;
}

.description,
.card-description,
.footer-big p{
    color: @gray-light;
}

.text-warning {
  color: @brand-warning !important;
}
.text-primary {
  color: @brand-primary !important;
}
.text-danger {
  color: @brand-danger !important;
}
.text-success {
  color: @brand-success !important;
}
.text-info {
  color: @brand-info !important;
}
.text-gray{
    color: @gray-light !important;
}
.text-general {
  color: @brand-general !important;
}
*/
