//  Brand Colors
@brand-primary:                    #4198B4;
@brand-dark-gray:                  #C4C4C4;
@brand-gray:                       #F2F2F2;
@brand-black:                      #000000;
@brand-white:                      #FFFFFF;
@brand-error:                      #FF0000;

// Font size
@font-size-h1:                      3rem;
@font-size-h2:                      2rem;
@font-size-h3:                      1.75rem;
@font-size-h4:                      1.5rem;
@font-size-h5:                      1.125rem;
@font-size-h6:                      0.875rem;

//Font Family
@font-family:                       Roboto;

// Font Weight
@font-weight-lighter:               300;
@font-weight-base:                  400;
@font-weight-bolder:                500;
// Font Style
@font-style: normal;

// Line Height
@line-height:                       1.2em;
@line-height-large:                 2em;

//Break Points
@xs:                                576px;
@sm:                                768px;
@md:                                992px;
@lg:                                1200px;
@xl:                                1904px;



// Paddings

// Sidebar List Items Icons
@icon-width:                        @line-height;

// Sidebar List Items


// Border Radius
@border-radius-base:                0px;

// Sidebar Avatar Margins

// Sidebar Divider
@divider-width:                     calc(100% - 30px) !default;
@divider-margins:                   -1px !default;
@divider-border:                    1px solid #eee;

// Sidebar Background
@sidebar-bg:                        rgba(27, 27, 27, .74) !default;

//  Buttons
@btn-icon-dim:                      41px !default;
@btn-y-large-padding:               1.125rem !default;
@btn-x-large-padding:               2.25rem !default;
@btn-large-line-height:             1.333333 !default;
@btn-y-small-padding:               .40625rem !default;
@btn-x-small-padding:               1.25rem !default;
@btn-round-padding:                 30px !default;
@btn-font-size-icon:                1.25rem !default;
@btn-margin-icon:                   7px !default;
@btn-fixed-icon-size:               1.8rem !default;
@btn-fixed-width:                   64px !default;

// Tabs
@tabs-active-line:                  rgba(255, 255, 255, .3) !default;
@tabs-text-box-padding:             8px !default;

// Social Buttons
@social-facebook: 			            #3b5998 !default;
@social-twitter: 			              #55acee !default;

// Dropdown
@font-size-dropdown:                .8125rem !default;
@border-radius-dropdown:            10px !default;

// Box-shadow
//@box-shadow-general:                0 2px 5px 0 rgba(@black, .26);
