<template>
  <span class='back-button' @click='goBack'>{{$t("go_back")}}</span>
</template>
<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
<style scoped lang="less">
.back-button{
  cursor: pointer;
  margin: 10px 0;
  display: block;
  font-weight: @font-weight-bolder;
  @media (min-width: @sm){
    margin: 15px 0;
  }
}
</style>
