<template>
  <div class="header">
    <b-navbar toggleable="lg" type="dark" class="header-conrainer standard-wrapper">
      <b-navbar-toggle target="sidebar-no-header"></b-navbar-toggle>
      <b-navbar-brand href="/" class="logo">
        <span>Count</span> and <span>Learn</span>
      </b-navbar-brand>

      <b-sidebar id="sidebar-no-header"
                  aria-labelledby="sidebar-no-header-title" no-header shadow>
        <template v-slot:default="{ hide }">
          <div class="p-3 sidebar mobile-menu">
            <div class="close-block">
              <b-icon @click="hide" icon="x-circle" scale="2" class="close-button"></b-icon>
            </div>
            <div class="links-block">
              <router-link to="/about">{{$t('about')}}</router-link>
            </div>
            <div class="language-block">
              <div class="language-header">
                {{$t('select-language')}}
              </div>
              <language-selector/>
            </div>
          </div>
        </template>
      </b-sidebar>

      <b-collapse is-nav>
        <b-navbar-nav class="ml-auto">
          <language-selector class="white-theme"/>
          <b-nav-item to="/about" class="about">{{$t('about')}}</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
      <div v-b-modal.my-plans class="profile">
        <b-icon icon="person-circle" scale="1.5" class="profile-icon"></b-icon>
        <span>{{$t("profile")}}</span>
      </div>
      <modal :header="$t('ooops')" :content="$t('plans')"/>
    </b-navbar>
  </div>
</template>
<script>
import LanguageSelector from './LanguageSelector';
import Modal from './Modal.vue';

export default {
  name: 'Header',
  components: {
    LanguageSelector,
    Modal,
  },
};
</script>
<style scoped lang="less">
  .header {
    color: @brand-white;
    background-color: @brand-primary;
    &-conrainer{
      .navbar{
        padding: 0.5rem 0;
      }
      .close-block{
        width: 100%;
        height: 30px;

        .close-button{
          float:right;
        }
      }
      .mobile-menu{

        .links-block{
          margin: 10px 0;
          a{
            color: @brand-black;
          }
        }
      }
    }
    .logo {
      font-family: 'Bahianita', cursive;
      font-size: 30px;
      line-height: 36px;

      span{
        text-transform: uppercase;
        border: 1px solid @brand-white;
        padding: 0 9px;
      }
    }
    .about{
      width: 80px;
    }
    .profile{
      width: auto;
      diplay: none;
      @media (min-width: @md){
        width: 100px;
      }
      &-icon{
        margin: 0 5px 0 10px;
      }
      span{
        display: none;
        @media (min-width: @md){
          display: inline-block;
        }
      }
    }
  }
</style>
