<template>
  <custom-radio-blocks :items="langs" v-model="$i18n.locale"/>
</template>

<script>
import CustomRadioBlocks from '../formElements/CustomRadioBlocks';

export default {
  name: 'languageSelector',
  components: {
    CustomRadioBlocks,
  },
  data() {
    return {
      langs: [
        {
          code: 'ua',
          label: 'UA',
        },
        {
          code: 'en',
          label: 'EN',
        },
      ],
    };
  },
};
</script>
<style scoped lang="less">

</style>
