<template>
  <div v-if="active" class="loading">
    <vue-simple-spinner :size="size"  line-fg-color="#4198B4" />
  </div>
</template>

<script>
import VueSimpleSpinner from 'vue-simple-spinner';

export default {
  name: 'LoadingVisualizaion',
  components: {
    VueSimpleSpinner,
  },
  props: {
    active: Boolean,
    size: String,
  },
};
</script>

<style scoped lang="less">
  /*.loading{
    height: 73vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }*/
</style>
