<template>
  <b-modal id="my-plans" ok-only centered :title="header">
    <p class="my-4">{{content}}</p>
  </b-modal>
</template>
<script>
export default {
  props: {
    header: String,
    content: String,
  },
};
</script>
<style scoped lang="less">

</style>
