<template>
  <div class="level-block">
    <div class="level-header">
      <h5 class="level-header-short">{{$t("select_level_short")}}</h5>
      <h5 class="level-header-long">{{$t("select_level_long")}}</h5>
    </div>
    <custom-radio-blocks :items="items"
                          @input="$emit('input', $event)"
                          v-model="level"/>
  </div>
</template>

<script>
import CustomRadioBlocks from '@/components/formElements/CustomRadioBlocks';

export default {
  name: 'CurrentLevel',
  props: {
  },
  components: {
    CustomRadioBlocks,
  },
  data() {
    return {
      items: [
        { code: 'a1', label: 'Basic' },
        { code: 'b1', label: 'Elementary' },
        { code: 'b2', label: 'Intermediate' },
      ],
      level: 'a1',
    };
  },
  methods: {
  },
};
</script>

<style lang="less">
.level{
  &-block{
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid @brand-primary;
    border-bottom: 1px solid @brand-primary;
    height: auto;
    @media (min-width: @xs){
      border-top: none;
      border-bottom: none;
      padding: 0;
    }
    .radio-btn-group{
      @media (min-width: @sm){
        display: inline-flex;
        width: calc(100% - 255px);
      }
      @media (min-width: @md){
        width: calc(100% - 290px);
      }
      .radio{
        width: 33%;
        label {
          text-align: center;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          @media (min-width: @xs){
            background-color: @brand-dark-gray;
          }
        }
      }
    }
  }
  &-header{
    padding-bottom: 15px;
    @media (min-width: @sm){
      display: inline-block;
      padding-bottom: 0;
      vertical-align: middle;
      width: 255px;
    }
    @media (min-width: @md){
      width: 290px;
    }
    &-short {
      display: none;
      @media (min-width: @sm){
        display: block;
      }
    }
    &-long {
      display: block;
      @media (min-width: @sm){
        display: none;
      }
    }
  }
}
</style>
