<template>
  <div class="season-episode-block" v-if="active">
    <b-form-select class="season-episode-select"
                   :options="seasonsArr"
                   v-model="season"
                   @input="changeSeason">
    </b-form-select>
    <b-form-select class="season-episode-select"
                   :options="episodesArr"
                   v-model="episode"
                   @input="$emit('input', $event)">
    </b-form-select>
  </div>
</template>

<script>
export default {
  name: 'SeasonEpisodeBlock',
  props: {
    active: Boolean,
    seasons: Array,
  },
  data() {
    return {
      seasonsArr: [],
      episodesArr: [],
      episode: null,
      season: null,
    };
  },
  methods: {
    changeSeason(season) {
      for (let i = 0; i < this.seasons.length; i += 1) {
        if (this.seasons[i].season_number === season) {
          this.episodesArr = [
            { value: null, text: 'Episode' },
            ...this.fillEpisodes(this.seasons[i].episode_count),
            { value: 'all', text: 'All episodes' },
          ];
        }
      }
      this.$emit('update:season', season);
      this.episode = null;
    },
    fillEpisodes(length) {
      const arr = [];
      for (let i = 1; i <= length; i += 1) {
        arr.push({ value: i, text: i });
      }
      return arr;
    },
    fillSeasons(seasons) {
      const arr = [];
      for (let i = 0; i <= seasons.length - 1; i += 1) {
        arr.push({ value: seasons[i].season_number, text: seasons[i].name });
      }
      return arr;
    },
  },
  created() {
    if (this.seasons) {
      this.seasonsArr = [
        { value: null, text: 'Season' },
        ...this.fillSeasons(this.seasons),
      ];
      this.episodesArr = [
        { value: null, text: 'Episode' },
      ];
    }
  },
};
</script>

<style scoped lang="less">
  .season-episode{
    &-block{
      margin: 0 -1%;
      @media (min-width: @xs){
        width: 66%;
        display: inline-block;
      }
    }
    &-select{
      margin: 1%;
      width:48%;
      height:50px;
    }
  }
  .poster-placeholder{
    background-color: @brand-primary;
    height:100%
  }
</style>
