<template>
  <div class="about-wrapper">
    <h2>Про нас</h2>
    <div class="text">
      <p>Наш проект змінює підхід до вивчення англійської мови.
        Замість нудного повторення слів, які, можливо, ніколи більше не знадобляться,
        ми пропонуємо вчити тільки ті слова,
        які найчастіше повторюються у вашому улюбленому фільмі або книзі.
      </p>
      <h3>Закінчити школу і нічого не знати</h3>
      <p>Знання англійської мови - це важливий рушій для особистого розвитку
        та розвитку цілої країни. На жаль, за даними авторитетної організації
        EF Education First наша країна посідає
        <a href="ef.com/wwen/epi/regions/europe/ukraine/" target="_blank">49-те місце</a>
        серед ста країн учасниць опитування "English Proficiency Index". Одна із причин
        такого низького рейтингу
        полягає в тому, що англійська мова в українських школах викладається як предмет,
        відірваний від контексту. Учні вчать нові слова, не маючи уявлення, де і як їх можна
        застосувати. Для того, щоб покращити знання англійської серед молоді, розвинуті країни
        створюють безкоштовні мовні курси і табори для молоді, залучаючи до їх створення носіїв
        мови для відтворення англомовного середовища. Таким чином, учасники таких івентів
        відчувають живу мову спілкування і легше засвоюють вивчений в школі матеріал.
        Звісно, такий спосіб дуже ефективний, але для українських школярів подібні
        безкоштовні заходи доступні не так масово.
      </p>
      <h3>Як створити навколо себе англомовне середовище?</h3>
      <p>
        Для цього достатньо подивитися фільм або прочитати книгу англійською.
        Звучить складно, але, якщо заздалегіть знати, які слова знадобляться для розуміння
        сюжету, то все стає набагато простіше. Саме цю проблему вирішує наш сайт.
      </p>
      <h3>Count and Learn - Як це працює?</h3>
      <ul>
        <li>Знайдіть фільм, який плануєте переглянути, скориставшись пошукам на нашому сайті.</li>
        <li>За допомогою нашого сервісу підрахуйте слова, які повторюються
          найчастіше в цьому фільмі.</li>
        <li>Із сформованого списку обіріть ті слова, які плануєте вивчити.</li>
      </ul>
      <h3>Переваги такого підходу</h3>
      <ul>
        <li>Перш за все, дивитись фільми - це цікаво, отже і вивчення англійської стає
          цікавішим.</li>
        <li>Вивчити всі нові слова з фільму одразу нереально, тож краще зосередьтесь над словами,
        які повторюються найчастіше.</li>
        <li>Ви засвоїте ці слова, зустрівши їх в контексті, під час перегляду фільму.</li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  title: 'About',
};
</script>
<style scoped>
  .about-wrapper{
    margin: 15px auto;
    text-align: center;
  }
  .text{
    text-align: left;
  }
</style>
