<template>
  <div>
    <div class="search-header">
      <h1>{{$t("home_welcome")}}</h1>
      <h5>{{$t("home_welcome_description")}}</h5>
    </div>
    <movies-search/>
    <how-it-works/>
    <most-popular/>
  </div>
</template>

<script>
import MoviesSearch from '@/components/homePage/MoviesSearch';
import HowItWorks from '@/components/homePage/HowItWorks';
import MostPopular from '@/components/homePage/MostPopular';

export default {
  name: 'home',
  title: 'Count & Learn',
  components: {
    MoviesSearch,
    HowItWorks,
    MostPopular,
  },
};
</script>

<style scoped lang="less">
  .search-header{
    text-align: center;
    margin: 40px 0 40px;;
    @media (min-width: @xs){
        margin: 70px 0 70px;
    }
  }
</style>
