<template>
  <div>
    <back-button/>
    <movie-list :allMovies="allMovies" />
  </div>
</template>

<script>
import BackButton from '@/components/layout/BackButton';
import MovieList from '@/components/landingPage/MovieList';
import { mapGetters } from 'vuex';

export default {
  name: 'landing',
  title: 'Landng Page',
  components: {
    BackButton,
    MovieList,
  },
  computed: mapGetters(['allMovies']),
};
</script>

<style scoped lang="less">

</style>
