<template>
  <div class='movie-wrapper'>
    <div v-if="movie" class="movie-header-desktop">
      <h3>{{movie.title}}</h3>
      <span class='year'>{{movie.year}}</span>
    </div>
    <back-button/>
    <main-block v-if="movie"
                :movie="movie"
                :words.sync="words"/>
    <loading-visualizaion v-else
                          size="massive"
                          :active="!movie"
                          :err="error"/>
    <words :words="words"/>
  </div>
</template>

<script>
import LoadingVisualizaion from '@/components/layout/LoadingVisualizaion';
import MainBlock from '@/components/moviePage/MainBlock';
import BackButton from '@/components/layout/BackButton';
import MovieSearch from '@/services/MovieSearch';
import Words from '@/components/moviePage/Words';

export default {
  name: 'Movie',
  title: 'Movie Page',
  components: {
    LoadingVisualizaion,
    MainBlock,
    BackButton,
    Words,
  },
  data() {
    return {
      mediaType: this.$route.params.mediatype,
      id: this.$route.params.id,
      movie: null,
      error: null,
      words: {},
    };
  },
  created() {
    this.getDetails();
  },
  methods: {
    async getDetails() {
      try {
        this.movie = await MovieSearch.getDetails({ mediaType: this.mediaType, id: this.id });
      } catch (err) {
        this.error = err.toString();
      }
    },
  },
};
</script>

<style scoped lang="less">
  .movie{
    &-wrapper{
      padding: 0 0.5rem;
      position: relative;

      @media (min-width: @xs){
        padding: 0;
      }
    }

    &-header-desktop {
      display: none;

      @media (min-width: @xs){
        display: block;
        position: absolute;
        left: 200px;
      }
      h3{
        display: inline-block;
        padding-right: 10px;
      }
      .year{
        line-height: @line-height-large;
      }
    }
  }
</style>
