<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="login"
            :rules="loginRules"
            label="Login"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            :counter="10"
            label="Password"
            required
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: 'Signin',
  data: () => ({
    valid: false,
    login: '',
    loginRules: [
      (v) => !!v || 'Login is required',
    ],
    password: '',
    passwordRules: [
      (v) => !!v || 'Password is required',
    ],
  }),
};
</script>
<style scoped>
</style>
