<template>
  <div id="app">
    <Header/>
      <div class="standard-wrapper">
        <router-view/>
      </div>
  </div>
</template>

<script>
import Header from '@/components/layout/Header.vue';

export default {
  components: {
    Header,
  },
};
</script>

<style lang="less">
@import "@/styles/index.less";
body{
  margin: 0;
  overflow-x: hidden;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
