@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tm8j0');
  src:  url('fonts/icomoon.eot?tm8j0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tm8j0') format('truetype'),
    url('fonts/icomoon.woff?tm8j0') format('woff'),
    url('fonts/icomoon.svg?tm8j0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
  color: #fff;
}
